<!-- #start sidebar -->
<div class="sidebar position-fixed bg-white"
[ngClass]="[sidebarState ? 'open-side-bar': 'close-side-bar']"
>
    <!-- toggle sidebar for small devices  -->
    <div class="position-fixed sidebar-tgl"
    [ngClass]="{'is-close-btn' : !sidebarState }"
    >
        <button class="cursor-p border-0 bg-white shadow-lg rounded-circle text-center"
        (click)="sidebarState = !sidebarState"
        >
            <img [src]="iconPath + 'left-arr.png'" width="32px">
        </button>
    </div>

    <!-- #start sidebar header -->
    <div class="sidebar-header bg-orange cursor-p ">
        <img [src]="iconPath + 'dashboard.svg'" alt="dashboard-icon" width="24px">
        <span class="text-orange d-title pr-3">داشبود</span>
    </div>
    <!-- #end sidebar header -->

    <!-- #start sidebar items -->
    <div class="group-links" *ngFor="let sidebarItem of sidebarItems">
        <span class="text-muted d-inline-block cursor-d list-title"> {{sidebarItem.title}} </span>
        <div class="sidebar-links">
            <a class="d-block text-black" href="#" *ngFor="let links of sidebarItem.links">
                <!-- link icon -->
                <img [src]="iconPath +links.icon " alt="link-icon" class="pl-3">
                <!-- link title -->
                <span class="link-title">{{links.title}}</span>
            </a>
        </div>
    </div>
    <!-- #end sidebar items -->
</div>
<!-- #end sidebar -->