<div class="container-fluid dashboard-content-wrapper">

  <!-- #start export btn -->
  <div class="export-btn text-left">
    <button class="border-0">
      <img [src]="iconPath + 'export.svg'" alt="export-icon" class="pl-2">
      <span>ایجاد خروجی</span>
    </button>
  </div>
  <!-- #end export btn -->

  <div class="d-flex sections-wrapper">
    <!-- #start right section  -->
    <div class="main-right-section">
      <app-right-section></app-right-section>
    </div>
    <!-- #end right section  -->

    <!-- #start left section  -->
    <div class="main-left-section">
      <app-left-section></app-left-section>
    </div>
    <!-- #end left section  -->
  </div>

</div>