<div class="container-fluid dashboard-content-wrapper" >

  <!-- export btn -->
  <div class="export-btn text-left" >
    <button class="border-0" >
      <img [src]="iconPath + 'export.svg'" alt="export-icon" class="pl-2">
      <span >ایجاد خروجی</span>
    </button>
  </div>
 
  <!-- #start right section  -->
  <div class="d-flex" style="margin-right: 260px ;">
    <div style="width: 55%;">
      <app-right-section></app-right-section>
    </div>
    <!-- #start right section  -->

    <!-- #start left section  -->
    <div class="  bg-primary" style="width: 42%;">
      left side
    </div>
    <!-- #end left section  -->
  </div>

</div>